* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header, footer {
    height: 10vh;
    background-color: #93441A;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 99999;
}

header {
    justify-content: center;
}

h1 {
    text-align: center;
    color: #e5e7e6;
}

main {
    width: 85vw;
    margin: auto;
    min-height: 80vh;
    background-color: #e5e7e6;
    box-shadow: black 0px 0px 100px 10px;
}

button {
    height: 5em;
    width: 5em;
}

footer {
    justify-content: flex-end;
    padding-right: 10vw;
}